body {
    font-family: 'Share Tech', sans-serif;
    font-size: 36px;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.writing-text {
    position: relative;
    min-width: 150px;
}

.writing-text:before {
    content: '';
    position: absolute;
    bottom: 0px;
    right: 0;
    left: 0;
    height: 16px;
    background: rgba(0,0,0,0.2);
}